@using OWASP10_2021.Models
@using System.Linq
@model IEnumerable<DirAndFile>

@{
    Layout = "/Views/Shared/_BankLayoutAdmin.cshtml";
    var showingUpDirectory = !string.IsNullOrWhiteSpace(@ViewBag.Path);
    User user = ViewBag.User;
}

@section AdminMenu
{
<ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
    <li class="has-children">
        <a href="#home-section" class="nav-link">Admin</a>
        <ul class="dropdown">
            @if (user.Role == "accounts")
            {
            <li><a href="#team-section" class="nav-link">Accounts</a></li>
            }
            @if (user.Role == "filemanager")
            {
            <li><a href="/admin/home/filemanager" class="nav-link">File Manager</a></li>
            }
            @*<li class="has-children">
                <a href="#">More Links</a>
                <ul class="dropdown">
                <li><a href="#">Menu One</a></li>
                <li><a href="#">Menu Two</a></li>
                <li><a href="#">Menu Three</a></li>
                </ul>
                </li>*@
        </ul>
    </li>

</ul>
}

<div class="site-section" id="next">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">
                <h3>File Manager</h3>
                <p>Please be careful</p>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12 ml-auto" data-aos="fade-up" data-aos-delay="10">
                <div class="mb-4">
                    <table style="width:200px;">
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                        </tr>
                        @if (showingUpDirectory)
                        {
                            showingUpDirectory = false;

                            <tr>
                                <td><a href="/admin/Home/FileManager/?path=@(ViewBag.UpDirectory)">Up Directory</a></td>
                                <td>Directory</td>
                            </tr>
                        }
                        @foreach (var Dir in Model.Where(x => x.Type == "D"))
                        {
                            <tr>
                                <td><a href="/admin/Home/FileManager/?path=@System.IO.Path.GetRelativePath(ViewBag.DefaultPath, Dir.Path)">@Dir.Name</a></td>
                                <td>Directory</td>
                            </tr>
                        }

                        @foreach (var File in Model.Where(x => x.Type == "F"))
                        {
                            <tr>
                                <td><a target="_blank" href="/api/files/Contents?path=@System.IO.Path.GetRelativePath(ViewBag.DefaultPath, File.Path)&contentType=application/octet-stream&forcedDownload=True">@File.Name</a></td>
                                <td>File</td>
                            </tr>
                        }

                    </table>
                </div>

            </div>
        </div>

        <div class="row">
            <h3>Upload/Replace Files</h3>
            <div class="col-lg-12 ml-auto" data-aos="fade-up" data-aos-delay="10">
                <div class="mb-4">
                    @using (Html.BeginForm("FileManager", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="row">
                            <div class="col-1">File</div>
                            <div class="col-3">@Html.TextBox("Name", "", new { type = "file" })</div>
                        </div>
                        <div class="row">
                            @Html.Hidden("Path", ViewBag.Path, null)
                            <div class="col-4"><input type="submit" name="Submit" id="submit" value="Upload" /></div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
